{% extends 'base_admin.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load static file_extension info_value %}
{% block title%}| ECMS Dashboard {% endblock %}



{% block extrastyle %}
<style>
  ul li {
    list-style-type: none;
  }
  .dot-separator {
    height: 2px;
    width: 2px;
    background: #000;
    border-radius: 50%;
  }
  .actions span {
    cursor: pointer;
  }
  .modal {
    z-index: 99999 !important;
  }
</style>
{% endblock extrastyle %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

{% block content %}                

<!-- {% include "_modal.html" %} -->

<!-- content @s -->
<div class="nk-content p-0">
<div class="nk-content-inner">
<div class="nk-content-body">
<div class="nk-fmg">
<div class="nk-fmg-aside" data-content="files-aside" data-toggle-overlay="true" data-toggle-body="true" data-toggle-screen="lg" data-simplebar>
<div class="nk-fmg-aside-wrap">
<div class="nk-fmg-aside-top">
<ul class="nk-fmg-menu">
<!-- <li class="active">
<a class="nk-fmg-menu-item" href="{% url 'admin_dp:admin_dashboard' %}">
<em class="icon ni ni-home-alt"></em>
<span class="nk-fmg-menu-text">Home</span>
</a>
</li> -->
<li>
<a class="nk-fmg-menu-item" href="{% url 'filemanager:folder_list' %}">
<em class="icon ni ni-file-docs"></em>
<span class="nk-fmg-menu-text">Files</span>
</a>
</li>
<li>
<a class="nk-fmg-menu-item" href="{% url 'filemanager:starred_files' %}">
<em class="icon ni ni-star"></em>
<span class="nk-fmg-menu-text">Starred</span>
</a>
</li>
<li>
<a class="nk-fmg-menu-item" href="{% url 'filemanager:shared_files' %}">
<em class="icon ni ni-share-alt"></em>
<span class="nk-fmg-menu-text">Shared</span>
</a>
</li>
<li>
<a class="nk-fmg-menu-item" href="{% url 'filemanager:recover_files' %}">
<em class="icon ni ni-trash-alt"></em>
<span class="nk-fmg-menu-text">Recovery</span>
</a>
</li>
<li>
<a class="nk-fmg-menu-item" href="{% url 'filemanager:file_settings' %}">
<em class="icon ni ni-setting-alt"></em>
<span class="nk-fmg-menu-text">Settings</span>
</a>
</li>


</ul>
</div>
<div class="nk-fmg-aside-bottom">
<div class="nk-fmg-status">
<h6 class="nk-fmg-status-title"><em class="icon ni ni-hard-drive"></em><span>Storage</span></h6>
<div class="progress progress-md bg-light">
<div class="progress-bar" data-progress="5"></div>
</div>
<div class="nk-fmg-status-info">12.47 GB of 50 GB used</div>
<div class="nk-fmg-status-action">
<a href="#" class="link link-primary link-sm">Upgrade Storage</a>
</div>
</div>
<div class="nk-fmg-switch">
<div class="dropdown">
<a href="#" data-toggle="dropdown" data-offset="-10, 12" class="dropdown-toggle dropdown-indicator-unfold">
<div class="lead-text">Folder Assisgnment</div>
<div class="sub-text">Only you</div>
</a>
<div class="dropdown-menu dropdown-menu-right">
<ul class="link-list-opt no-bdr">
<li><a href="#"><span>Team Folders</span></a></li>
<li><a class="active" href="#"><span>My Folders</span></a></li>
<li class="divider"></li>
<li><a class="link" href="#"><span>Shared Folders</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div><!-- .nk-fmg-aside -->










<div id="file-dirs" class="nk-fmg-body">
<div class="nk-fmg-body-head d-none d-lg-flex">
<div class="nk-fmg-search">
<em class="icon ni ni-search"></em>
<input type="text" class="form-control border-transparent form-focus-none" placeholder="Search files, folders">
</div>
<div class="nk-fmg-actions">
<ul class="nk-block-tools g-3">
<li>
<div class="dropdown">
<a href="#" class="btn btn-light" data-toggle="dropdown"><em class="icon ni ni-plus"></em> <span>Create</span></a>
<div class="dropdown-menu dropdown-menu-right">
<ul class="link-list-opt no-bdr">
<li><a href="#file-upload" data-toggle="modal"><em class="icon ni ni-upload-cloud"></em><span>Upload File</span></a></li>
<li><a href="#"><em class="icon ni ni-file-plus"></em><span>Create File</span></a></li>
<li><a href="{% url 'admin_dp:create-directory' %}"><em class="icon ni ni-folder-plus"></em><span>Create Folder</span></a></li>
</ul>
</div>
</div>
</li>
<li><a href="#file-upload" class="btn btn-primary" data-toggle="modal"><em class="icon ni ni-upload-cloud"></em> <span>Upload</span></a></li>
</ul>
</div>
</div>
<div class="nk-fmg-body-content">
<div class="nk-block-head nk-block-head-sm">
<div class="nk-block-between position-relative">
<div class="nk-block-head-content">
<h6 class="nk-block-title page-title"><a href="{% url 'filemanager:folder_list' %}">My Folders Home</a></h6>
</div>
<div class="nk-block-head-content">
<ul class="nk-block-tools g-1">
<li class="d-lg-none">
<a href="#" class="btn btn-trigger btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a>
</li>
<li class="d-lg-none">
<div class="dropdown">
<a href="#" class="btn btn-trigger btn-icon" data-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
<div class="dropdown-menu dropdown-menu-right">
<ul class="link-list-opt no-bdr">
<li><a href="#file-upload" data-toggle="modal"><em class="icon ni ni-upload-cloud"></em><span>Upload File</span></a></li>
<li><a href="#"><em class="icon ni ni-file-plus"></em><span>Create File</span></a></li>
<li><a href="#"><em class="icon ni ni-folder-plus"></em><span>Create Folder</span></a></li>
</ul>
</div>
</div>
</li>
<li class="d-lg-none mr-n1"><a href="#" class="btn btn-trigger btn-icon toggle" data-target="files-aside"><em class="icon ni ni-menu-alt-r"></em></a></li>
</ul>
</div>
<div class="search-wrap px-2 d-lg-none" data-search="search">
<div class="search-content">
<a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
<input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or message">
<button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
</div>
</div><!-- .search-wrap -->
</div>
</div>




<div class="nk-fmg-quick-list nk-block">
<div class="nk-block-head-xs">
<div class="nk-block-between g-2">
<div class="nk-block-head-content">
<!-- <h6 class="nk-block-title title">Quick Access</h6> -->

<nav aria-label="breadcrumb">
<ol class="breadcrumb">
{% for breadcrumb in breadcrumbs %}
{% if forloop.last %}
<li class="breadcrumb-item active text-primary" aria-current="page">{{ breadcrumb.name }}</li>
{% else %}
{% if breadcrumb.name|lower == 'media' %}
<li class="breadcrumb-item active text-primary" aria-current="page">{{ breadcrumb.name }}</li>
{% else %}
<li class="breadcrumb-item text-primary">
<!-- <a href="{{ breadcrumb.url }}"> -->
{{ breadcrumb.name }}
<!-- </a> -->
</li>
{% endif %}
{% endif %}
{% endfor %}
</ol>
</nav>
</div>


<div class="nk-block-head-content">
<a href="#" class="link link-primary toggle-opt active" data-target="quick-access">
<div class="inactive-text">Show</div>
<div class="active-text">Hide</div>
</a>
</div>
</div>
</div><!-- .nk-block-head -->



<!-- Start -->


<div class="toggle-expand-content expanded" data-content="quick-access">

<div class="nk-files nk-files-view-grid">
{% include 'partials/_alerts.html' %} 


<div class="nk-files-list">
<!-- {{ request.path }} -->


<div class="container-fluid py-4">
<div class="row">
<div class="col-lg-12 border py-2 bg-white">
<!-- <div class="d-flex justify-content-start my-2 ml-2"> -->
<div class="row">
<p class="lead text-primary ml-4 mt-3">Create folder{% if parent %} in {{ parent.name }}{% endif %}</p>

    {% include "filemanager/filemanager_breadcrumbs.html" with member=parent %}
</div>

<div class="">

<form class="form-inline" method="POST" action="{% url 'filemanager:folder_create' %}">
        {% csrf_token %}

<div class="form-group ml-2">
<label for="id_name">Folder Name:</label>
<input class="form-control ml-2" type="text" name="name" required id="id_name" />
</div>
<button type="submit" class="btn btn-success ml-3">Create Folder</button>
</form>
</div>

<!-- </div> -->

<div class="d-flex justify-content-end py-2">   
<a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-success py-0"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Go Back </a>
</div>
</div><!-- .nk-files -->
</div>

<!-- End  -->



</div>
</div><!-- .nk-fmg-body-content -->
</div><!-- .nk-fmg-body -->
</div><!-- .nk-fmg -->
</div>
</div>
</div>



</div>
</div>
</div>
</div>
<!-- content @e -->
{% block extrascripts %}





<script>
  function submitForm() {
    document.getElementById("upload-file").submit();
  }
  
  document.addEventListener('keydown', (event) => {
    if (event.key === 'Escape' || event.key === 'Esc' || event.key === 27) {
      let files = document.getElementById('files-count').textContent;
      for (let i = 1; i <= files; i++) {
        let closeButtonElements = document.getElementById(`modal-close-btn-${i}`);
        closeButtonElements.click();
      }
    }
  })
</script>

<script src="{% static 'js/bootstrap5.modal.forms.min.js' %}"></script>
{% endblock extrascripts %}






{% endblock %}